<ol>
    <% questions.forEach(function(question) { %>
        <li> <%= question %></li>
    <% }) %>
</ol>

<ol>
    <% answers.forEach(function(answer)  %>
        <li><%= answer %></li>
   <% } %>
</ol>
